:host {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  display: flex;
  justify-content: flex-end;

  height: 60px;
  width: 100%;

  background-color: #45b1ff;
}

.nav-list {
  display: flex;
  align-items: center;

  list-style: none;

  li {
    margin: 0 15px;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
