:host {
  width: 130px;
  height: 180px;
}

.usluga-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;

  text-align: center;
}

.usluga-item--img {
  width: 100%;
  height: 100%;
}
